@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  text-align: center;
}

.l-container {
  margin: 60px auto;
  margin-bottom: 30px;
}

.phone-image {
  width: 500px;
  position: relative;
  top: -30px;
  right: -70px;
  margin-left: 140px;
  margin-right: 10px;
}

@media (max-width: 1026px) {
  .hide-m-s {
    display: none;
  }

  .login-container {
    text-align: center;
    width: 310px;
    margin: 80px auto;
  }

  .l-container {
    margin-top: 0px;
  }
}
.login-container {
  text-align: center;
  width: 310px;
  height: 400px;
}

.login-sub-container {
  margin-bottom: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 20px;
}

.login-sub-container {
  font-size: 1.2rem;
}

#heading {
  font-size: 4.4rem;
  font-family: "Lobster Two", cursive;
  margin: 0px auto 30px auto;
  width: 90%;
}

.login-input {
  font-size: 1.2rem;
  font-style: bold;
  margin: 5px auto;
  padding: 8px 6px;
  width: 250px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  background-color: #5fd0e40a;
  outline: none;
}

.login-input:focus {
  border: 0.5px solid rgba(0, 0, 0, 0.4);
}

.login-button {
  font-size: 1.6rem;
  margin: 5px auto;
  width: 250px;
}

hr {
  margin: 20px auto 10px auto;
  width: 80%;
}

.login-link {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 40px;
}

.forgot-link {
  margin: 50px auto;
}

.header {
  position: fixed;
  background-color: white;
  width: 100%;
  padding: 15px auto 10px auto;
  height: 50px;
  text-align: left;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-left: 0;
  border-right: 0;
  z-index: 1;
}
.header .row {
  max-width: 950px;
  margin: 0 auto;
}
.header #heading {
  font-size: 2.2rem;
  padding: 5px;
}
.header .icons {
  text-align: right;
}
.header .icons i {
  font-size: 2.2rem;
  position: unset;
  box-sizing: border-box;
  margin: 10px auto;
  padding: 5px 10px;
}
.header input {
  box-sizing: border-box;
  margin: 10px auto;
  font-size: 1.4rem;
  position: relative;
  left: -20px;
  width: 150px;
  background-color: #5fd0e40a;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.content {
  padding-top: 50px;
}

.stories .row {
  width: 530px;
  margin: 20px auto 10px auto;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
}
.stories .row .story-img img {
  border-radius: 50px;
  width: 55px;
  height: 55px;
  margin: 3px 6px;
}
.stories .row .story-img-seen img {
  border-radius: 50px;
  width: 57px;
  height: 57px;
  margin: 3px;
  padding: 1px;
  border: 2px solid #51e617;
}

.posts {
  margin: 20px;
}

.container {
  width: 530px;
  text-align: center;
  margin: 10px auto;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  padding: 0;
}

.post-header {
  text-align: left;
  padding: 10px;
  margin: 0;
  position: relative;
}
.post-header div {
  margin: 0;
  padding: 0;
}
.post-header .author {
  position: relative;
  left: -20px;
}
.post-header .author .name {
  font-size: 1.6rem;
  font-weight: 500;
}
.post-header img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.post-header .dots {
  position: absolute;
  right: 8px;
}

.post-image img {
  width: 530px;
  height: 530px;
}

.post-extras {
  font-size: 2.4rem;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}
.post-extras .likes i {
  margin: 5px 3px;
}

.likes {
  position: relative;
  height: 35px;
}

.lefti1 {
  position: absolute;
  top: 5px;
  left: 8px;
}

.lefti2 {
  position: absolute;
  top: 5px;
  left: 38px;
}

.lefti3 {
  position: absolute;
  top: 5px;
  left: 68px;
}

.lasti {
  position: absolute;
  top: 5px;
  right: 8px;
}

.caption {
  text-align: left;
  padding: 10px 15px;
  line-height: 1.2rem;
}
.caption .name {
  font-size: 1.2rem;
  font-weight: 500;
}
.caption .text {
  font-size: 1.2rem;
  font-weight: 400;
}

.comments {
  text-align: left;
  padding: 0px 15px;
  margin-top: -20px;
  padding-bottom: 20px;
}
.comments a {
  color: gray;
  font-size: 1.2rem;
}
.comments .caption {
  padding: 0;
  padding-bottom: 4px;
}

/*# sourceMappingURL=styles.css.map */
